*.pyc
*.swp
*.idea*
test/leman/
test/river_and_lake/output/orbit/
test/river_and_lake/output/simu/
test/river_and_lake/output/river/
test/river_and_lake/output/lake/
!test/river_and_lake/output/orbit/.gitkeep
!test/river_and_lake/output/simu/.gitkeep
!test/river_and_lake/output/river/.gitkeep
!test/river_and_lake/output/lake/.gitkeep
