[PATHS]
PIXC file = C:\Users\pottierc\Documents\workspace_qgis\sisimp_tests_unitaires\FT2_Cas2\2_sisimp_pc\SWOT_L2_HR_PIXC_I_022_017_043N_L_20160616T174321_T_000.nc
PIXCVecRiver file = C:\Users\pottierc\Documents\workspace_qgis\sisimp_tests_unitaires\FT2_Cas2\2_sisimp_pc\SWOT_L2_HR_PIXCVecRiver_I_022_017_043N_L_20160616T174321_T_000.nc
Output directory = C:\Users\pottierc\Documents\workspace_qgis\sisimp_tests_unitaires\FT2_Cas2\3_lake_tile_pc

[OPTIONS]
# To also produce LakeTile_edge and LakeTile_pixcvec as shapefiles (=True); else=False (default)
Produce shp = True

[CONFIG_OVERWRITE]
# Lake a priori database
LAKE_DB = C:\Users\pottierc\Documents\01_SWOT\ADT\WG10_HydroProducts\Support\2016-2018\Fournitures\lake_db\lake_db_france_20170905\priordb_lakes_france.shp
# Lake identifier attribute name in the database
LAKE_DB_ID = lake_id
# Shapefile with polygons of continents
CONTINENT_FILE = C:\Users\pottierc\Documents\no_save\data\bassins\FAO_Major_hydrological_basins\major_hydrobasins.shp
# Water flag: 3=water near land edge  4=interior water
#FLAG_WATER = "3;4"
# Dark water flag: 23=darkwater near land  24=interior dark water
#FLAG_DARK = "23;24"
# Layover flag
#FLAG_LAYOVER = "12;13;14"  
# Method to compute lake boundary or polygon hull
# 0=convex hull 1=concav hull (1.0=with alpha param (default) 1.1=without) 2=concav hull radar vectorisation
#HULL_METHOD = 1.0
# Big lakes parameters for improved geoloc
#BIGLAKE_MODEL = polynomial
#BIGLAKE_MIN_SIZE = 5000
#BIGLAKE_GRID_SPACING = 4000
#BIGLAKE_GRID_RES = 8000