[PATHS]
# param_file is optionnal, if not set, default parameter file from swotCNES will be used
param_file = 4_lake_tile/pge_lake_tile_param.cfg
LakeTile shp directory = 4_lake_tile/
LakeTile edge directory = 4_lake_tile/
LakeTile pixcvec directory = 4_lake_tile/
Output directory = 5_lake_sp/

[DATABASES]
# Lake a priori database
LAKE_DB = /work/ALT/swot/swotpub/JENKINS/BD/BD_lakes/20181002_EU/apriori_db_lakes_EU.shp
# INFLUENCE_LAKE_DB is optionnal, if not set, influence area will be computed
# INFLUENCE_LAKE_DB = /work/ALT/swot/swotpub/BD/BD_lakes/20181002_EU/influence_area_map.shp
# Lake identifier attribute name in the lake a priori database and influence_lake_db
LAKE_DB_ID = lake_id
# Shapefile with polygons of continents
CONTINENT_FILE = /work/ALT/swot/swotpub/JENKINS/BD/major_basins/FAO/major_hydrobasins.shp

[TILES_INFOS]
# Cycle number=000
# Pass number=348

[OPTIONS]
# To also produce LakeTile_edge and LakeTile_pixcvec as shapefiles (=True); else=False (default)
Produce shp = True

[LOGGING]
# Log file full path
logFile = 5_lake_sp/LogFile.log
# Log level put inside the file
logfilelevel = DEBUG
# Is log console output ?
logConsole = True
# Log level print in console
logconsolelevel = DEBUG


