[PATHS]
LakeTile directory = 4_lake_tile/
Output directory = TEST/output

[DATABASES]
# OPTION 1: upper directory pointing to operational Prior Lake Database (PLD)
LAKE_DB = /work/ALT/swot/swotpub/BD/BD_lakes/PLD

# OPTION 2: lake database in SQLite format
# 2.1 - Filename starts with SWOT_PLD_ = operational Prior Lake Database (PLD)
# 2.2 - Filename doesn't start with SWOT_PLD = personal lake database with model similar to operational PLD 
#       ie containing the following tables: lake, lake_influence, basin
#LAKE_DB = /work/ALT/swot/swotpub/BD/BD_lakes/PLD/Cal/SWOT_LakeDatabase_Cal_001_20000101T000000_20991231T235959_20211103T133032_v001.sqlite
#LAKE_DB = /work/ALT/swot/swotpub/BD/BD_lakes/PLD/Nom/SWOT_LakeDatabase_Nom_001_20000101T000000_20991231T235959_20211103T133032_v001.sqlite

# OPTION 3 : lake database in shapefile format
# Filename
# LAKE_DB = /work/ALT/swot/swotpub/BD/BD_lakes/20200702_PLD/PLD_EU.shp
# Lake identifier attribute name in the prior lake database and influence_lake_db
# LAKE_DB_ID = lake_id

[TILES_INFOS]
Cycle number = 008
Pass number = 391
Continent identifier = EU

[OPTIONS]
# To also produce PIXCVec products as shapefiles (=True); else=False (default)
Produce shp = True
# To increment the file counter in the output filenames (=True, default); else=False
Increment file counter = False
# To write full path in global attributes (=True); to write only basename=False
Write full path = True
# Number of processors to use (default=1, max=2)
Nb_proc = 1
# To delete temporary swath LakeSP shapefiles (=True, default) or not (=False)
Delete temporary shp = True

[LOGGING]
# Error file full path
errorFile = TEST/output/ErrorFile.log
# Log file full path
logFile = TEST/output/LogFile.log
# Log level put inside the file
logfilelevel = DEBUG
# Is log console output ?
logConsole = True
# Log level print in console
logconsolelevel = DEBUG

[FILE_INFORMATION]
# Name of producing agency
INSTITUTION = CNES
# Product version
PRODUCT_VERSION = Revision A
# Composite Release IDentifier for LakeTile processing
CRID_LAKETILE = Dx0000
# Composite Release IDentifier for LakeSP processing
CRID_LAKESP = Dx0000
# Version identifier of the product generation executable (PGE)
PGE_VERSION = 3.1
# Contact
CONTACT = test@cnes.fr
