[PATHS]
param_file = ./lake_tile_param.cfg
PIXC directory = /work/ALT/swot/swotpub/JENKINS/DATA_LAKE_TEST/FT2_Cas1/2_sisimp
PIXCVecRiver directory = /work/ALT/swot/swotpub/JENKINS/DATA_LAKE_TEST/FT2_Cas1/2_sisimp
Output directory = TEST/output

[DATABASES]
# Lake a priori database
LAKE_DB = /work/ALT/swot/swotpub/JENKINS/BD/BD_lakes/20180223_France/priordb_lakes_france.shp
# Lake identifier attribute name in the lake a priori database
LAKE_DB_ID = lake_id
# Shapefile with polygons of continents
CONTINENT_FILE = /work/ALT/swot/swotpub/JENKINS/BD/major_basins/FAO/major_hydrobasins.shp

[TILES_INFOS]
# Format = int; if empty, deal with all PixC files in PIXC directory
#Cycle number = 
# Format = int; if empty, deal with all PixC files of the cycle defined above in PIXC directory
#Pass number = 
# Tile reference (ttt) and swath (s) in string format ("ttts"); if empty, deal with all PixC files of cycle "Cycle" and pass "Pass" in PIXC directory
#Tile ref = 

[OPTIONS]
# To also produce LakeTile_edge and LakeTile_pixcvec as shapefiles (=True); else=False (default)
Produce shp = True

[LOGGING]
# Log file full path
logFile = TEST/output/LogFile.log
# Log level put inside the file
logfilelevel = DEBUG
# Is log console output ?
logConsole = True
# Log level print in console
logconsolelevel = DEBUG
