[PATHS]
# param_file is optionnal, if not set, default parameter file from swotCNES will be used
param_file = ./lake_tile_param.cfg
PIXC directory = /work/ALT/swot/swotpub/JENKINS/DATA_LAKE_TEST/FT2_Cas1/2_sisimp
PIXCVecRiver directory = /work/ALT/swot/swotpub/JENKINS/DATA_LAKE_TEST/FT2_Cas1/2_sisimp
Output directory = TEST/output

[DATABASES]
# OPTIION 1 : SQLITE lake database containing  : lake_table, lake_influence_table, basin_table
LAKE_DB = /work/ALT/swot/swotpub/BD/BD_lakes/PLD

# OPTION 2 : SHP lake database
# Prior lake database
# LAKE_DB = /work/ALT/swot/swotpub/BD/BD_lakes/20200702_PLD/PLD_EU.shp
# Lake identifier attribute name in the prior lake database and influence_lake_db
# LAKE_DB_ID = lake_id

[TILES_INFOS]
# Format = int; if empty, deal with all PixC files in PIXC directory
#Cycle number = 
# Format = int; if empty, deal with all PixC files of the cycle defined above in PIXC directory
#Pass number = 
# Tile number (ttt) and swath (s) in string format ("ttts"); if empty, deal with all PixC files of cycle "Cycle" and pass "Pass" in PIXC directory
#Tile ref = 

[OPTIONS]
# To also produce LakeTile_edge and LakeTile_pixcvec as shapefiles (=True); else=False (default)
Produce shp = True
# To increment the file counter in the output filenames (=True, default); else=False
Increment file counter = False

[LOGGING]
# Error file full path
errorFile = TEST/output/ErrorFile.log
# Log file full path
logFile = TEST/output/LogFile.log
# Log level put inside the file
logfilelevel = DEBUG
# Is log console output ?
logConsole = True
# Log level print in console
logconsolelevel = DEBUG

[FILE_INFORMATION]
# Composite Release IDentifier for LakeTile processing
CRID = Dx0000
# Producer
PRODUCER = CNES
# Method of production of the original data
SOURCE = Simulation
# Software version
SOFTWARE_VERSION = 0.2
# Contact
CONTACT = test@cnes.fr